<html>
<head>
    <title>@ViewBag.Title - контакты</title>
</head>
<body>
    <div>
        <p>
            <strong>Почтовый адрес:</strong><br />
            <a class="card-link" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
                423807, Республика Татарстан, город Набережные Челны, бульвар Ямашева, дом № 4/14А. <br />
            </a>
            <div class="collapse" id="collapse3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.0844805706556!2d52.29463631596467!3d55.687518980535955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff1e0aa00315b%3A0x5a1c63514fbba72a!2z0KbQtdC90YLRgNCw0LvRjNC90LDRjyDQs9C-0YDQvtC00YHQutCw0Y8g0LHQuNCx0LvQuNC-0YLQtdC60LA!5e0!3m2!1sru!2sru!4v1574427716093!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        <strong>Телефоны, элекронная почта</strong> <br />
        Директор: (тел/факс) 70-02-29, е-mail: library-CBS@mail.ru <br />
        Заместитель директора: е-mail: library-zam@mail.ru <br />
        Методический отдел: 70-12-52, е-mail: library-metod@mail.ru <br />
        Отдел автоматизации: 71-40-88, е-mail: library-OA@mail.ru <br />
        Отдел комплектования: 70-26-97 е-mail: library-com@mail.ru <br />
        Отдел комплексного обслуживания: е-mail: CBS_oko@mail.ru <br />
        Абонемент ЦГБ: е-mail: CBS-abonement@mail.ru <br />
        Юношеский отдел ЦГБ: е-mail: CBS-unior@mail.ru <br />
        Детский отдел ЦГБ: е-mail: CBS-do@mail.ru <br />
        Отдел искусств ЦГБ: е-mail: CBS-art@mail.ru <br />
        Справочно-информационный отдел: 70-02-26, е-mail: library-SIO@mail.ru <br />
        Читальный зал ЦГБ: е-mail: CBS-read@mail.ru <br />
        Национально-краеведческий отдел ЦГБ: е-mail:CBS-nko@mail.ru <br />
        Литературно-краеведческий музей: е-mail: library-muzei@mail.ru <br />
        Отдел кадров: 70-02-54, е-mail: library-kadr@mail.ru <br />
        Бухгалтерия: 70-14-06 (тел/факс).
        </p>
    </div>
</body>
</html>
