<html>
<head>
    <title>@ViewBag.Title - история</title>
</head>
<body>
    <h3 class="text-center">История Центральной городской библиотеки</h3>
    <h4 class="text-center text-muted">г. Набережные Челны</h4>
    <br />
    <div>
        <p>
            <!-- картинка перед текстом, не получилось в общем -->
            @*<span class="photo-text"><img src="~/Content/Images/История_библиотеки1-300x201.jpg" /></span>*@
            К 1970 году население города Набережные Челны составляло 39,3 тысячи человек.
            К началу строительства КамАЗа Тукаевская районная библиотека была единственной, которая накопила достаточно богатый книжный фонд.
            Жители города также имели возможность посещать 3 городских библиотеки и 6 профсоюзных библиотек.
            Детское население обслуживали 2 детские библиотеки и 3 школьные библиотеки.
        </p>
        <p>
            В 1972 году Министерством культуры было принято решение об открытии в городе Набережные Челны Центральной городской библиотеки.
            В течение трёх лет сотрудники Республиканской научной библиотеки Татарстана имени В.И. Ленина вели напряжённую работу по созданию книжного фонда и организации каталогов.
            Основной базой пополнения фонда стала Государственная Российская юношеская библиотека.
            Десять тысяч томов подарила библиотеке редакция журнала «Новый мир», часть книг передали Государственная публичная библиотека имени М.Е. Салтыкова-Щедрина, Государственная библиотека СССР имени В.И. Ленина, ВГБИЛ и многие другие библиотеки.
            Книги для строителей КамАЗа везли машинами и поездами, доставляли самолётами со всех концов страны.
        </p>
        <p>
            В 1975 году в торжественной обстановке в присутствии многочисленных приглашённых гостей, писателей, представителей трудовых коллективов состоялось открытие библиотеки, и она приняла первых читателей.
            Для библиотеки был переоборудован первый этаж жилого дома.
            К моменту открытия книжный фонд библиотеки вырос до 54 000 экземпляров.
        </p>
        <p>
            Большой вклад в организацию библиотеки внесла <strong>Гафарова Люция Амировна</strong> – первый директор Центральной городской библиотеки.
            Библиотеке было присвоено имя татарского поэта-героя Мусы Джалиля.
            «Глубоко символично то, что библиотека названа именем Мусы Джалиля», – сказал член Союза писателей СССР Р. Мустафин на торжественном открытии, – здесь на КамАЗе, постоянно встречаешься с самоотверженностью, героизмом, любовью к Родине – чувствами, которые были так родственны духу М. Джалиля».
            На основании решения исполкома Набережночелнинского Совета депутатов трудящихся ТАССР и приказа городского отдела культуры, в 1975 году была организована Набережночелнинская централизованная библиотечная система, объединившая Центральную городскую библиотеку, Центральную детскую библиотеку, 10 библиотек-филиалов, 5 из которых были детскими.
            ЦБС имела единый книжный фонд, штат, бюджет, административное и хозяйственное руководство, что способствовало повышению качества библиотечного обслуживания населения.
        </p>
        <p>
            С начала 80-х годов большим коллективом Централизованной библиотечной системы руководит <strong>Галлямова Дания Маннановна</strong>.
            Ежегодно расширялась сеть библиотек-филиалов ЦБС: помимо Центральной городской, в 1980 году функционировало 14 библиотек-филиалов (из них 7 детских), в 1985 году филиалов было уже 18.
            Показателем работы этих лет стало присвоение звания «Библиотека отличной работы» Центральной городской библиотеке (1981 г.) и некоторым её филиалам (№2, №6, №14, №15) за лучшую постановку библиотечного обслуживания населения.
            В эти же годы ЦБС была награждена переходящим Красным Знаменем Совета Министров и Татоблсовпрофа Республики Татарстан.
        </p>
        <p>
            1990-е годы для Набережночелнинской ЦБС ознаменовались переходом на новые условия хозяйствования.
            На начало 1990 года ЦБС объединяет 22 филиала. В 1991-93 годы городская библиотечная система расширяется за счёт 7 филиалов профсоюзной библиотечной системы КамГЭСэнергостроя, а в 1994 году в ЦБС передана центральная детская библиотека Тукаевской ЦБС.
            Это первая детская библиотека, открытая в городе Набережные челны в 1948 году. Она была расположена в доме купца Стахеева по улице Центральная.
        </p>
        <p>
            Начало нового века характеризуется слаженной работой коллектива, пробой творческих сил, активным участием и победами в различных профессиональных конкурсах.
            ЦБС города Набережные Челны одной из первых в республике была признана лауреатом премии Министерства культуры РТ «Лидер» (2001 год).
            (Кодзима гений)
            Центральная городская библиотека дважды становилась лауреатом премии Министерства культуры РТ «Творческий поиск».
            Детская библиотека №10 победила в республиканском конкурсе “Детская библиотека года”.
            В 2005 году ЦБС признана «Лучшим учреждением культуры года» и награждена дипломом Администрации города Набережные Челны.
        </p>
        <p>
            2005-2007 годы коллективом руководит <strong>Мазитов Рамиль Рифович</strong>. Городские библиотеки являются центрами информации образования и досуга.
            В 2006 году МБУ «Централизованная библиотечная система» г. Набережные Челны заняла первое место в группе «Лучшая библиотека города и села» в ежегодном республиканском конкурсе «Человек и природа» и награждена дипломом «Лучшая библиотека» в номинации «Работа в области экологического образования и воспитания».
        </p>
    </div>
    <div>
        <h3 class="text-center">Библиотека сегодня</h3>
        <br />
        <p>
            С 2007 года директором муниципального бюджетного учреждения «Централизованная библиотечная система» является <strong>Гайнуллина Венера Марсиловна</strong>.
        </p>
        <p>
            МБУ «Централизованная библиотечная система» (ЦБС) – это крупнейшее библиотечное учреждение города.
            ЦБС объединяет 19 библиотек: Центральную городскую библиотеку, Центральную детскую библиотеку, 11 массовых библиотек-филиалов и 6 детских филиалов.
            Обслуживание читателей ведется на двух языках – русском и татарском.
        </p>
        <p>
            В работе библиотеки применяются информационные технологии.
            Корпоративная сеть объединяет 78 компьютеров, в том числе 19 – в структурных подразделениях.
            Внедрен электронный документооборот.
            Открыт доступ в Интернет для всех рабочих мест.
            Создается электронный каталог в АБИС «Руслан».
            Современная автоматизированная библиотечно-информационная система позволяет быстро найти нужную книгу, составить список литературы по интересующей теме, определить место хранения нужного издания не только в библиотечном пространстве нашей системы, но и получить информацию о составе фондов национальных и муниципальных библиотек Республики Татарстан.
        </p>
        <p>
            Сегодня – это современная библиотека, где собрана литература на традиционных и электронных носителях, на двух государственных языках: русском и татарском.
            Общий фонд составляет 756158 экземпляров книг по многим отраслям знаний.
            В состав электронной библиотеки входит 862 электронных изданий.
            Ежегодно выписывается более 40 наименований газет и 175 наименований журналов.
        </p>
        <p>
            К услугам пользователей:
        </p>
        <p>
            – новейшие издания по экономике, политологии, праву, истории, философии, психологии, литературоведению;
        </p>
        <p>
            – универсальные и отраслевые энциклопедии, справочники, словари, в том числе репринтные издания энциклопедичных словарей Брокгауза  и Эфрона;
        </p>
        <p>
            – аудио-и электронные книги, видеоиздания;
        </p>
        <p>
            – система каталогов и картотек;
        </p>
        <p>
            – электронный каталог;
        </p>
        <p>
            – электронный читальный зал.
        </p>
        <p>
            С марта месяца 2017 года библиотеки города перешли на электронную форму работы.
            Читателям начали выдавать единый читательский  билет (ЕЧБ), который действует на территории всей Республики Татарстан.
            Работает зона бесплатного беспроводного доступа в Интернет по технологии Wi-Fi.
        </p>
        <p>
            Библиотека сегодня – не только хранилище книг, но и информационный, культурный и досуговый центр.
            Более 2000 мероприятий в год проводится не только в стенах библиотек, но и на городских площадках.
            С целью развития новых форм обслуживания и обеспечения доступности информации на качественно новом уровне осуществляется последовательная компьютеризация городских библиотек.
        </p>
    </div>
</body>
</html>

