<html>
<head>
    <title>@ViewBag.Title - библиосеть</title>
</head>
<body>
    <div>
        <h3 class="h3 text-center">Библиосеть</h3>
        <br />
        <p><a href="~/Home/Index" class="card-link">Электронная библиотека</a> - крупнейший проект города Набережные Челны. ЭБ объединяет 19 библиотек: Центральную городскую библиотеку, Центральную детскую библиотеку, 11 массовых библиотек-филиалов и 6 детских библиотек-филиалов.</p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse" role="button" aria-expanded="false" aria-controls="collapseExample">
                Центральная городская библиотека (ГЭС, д. 4/14 А)
            </a>
            <div class="collapse" id="collapse">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2249.0844805706556!2d52.29463631596467!3d55.687518980535955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff1e0aa00315b%3A0x5a1c63514fbba72a!2z0KbQtdC90YLRgNCw0LvRjNC90LDRjyDQs9C-0YDQvtC00YHQutCw0Y8g0LHQuNCx0LvQuNC-0YLQtdC60LA!5e0!3m2!1sru!2sru!4v1572431107087!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse2" role="button" aria-expanded="false" aria-controls="collapseExample">
                Центральная детская библиотека (Новый город, д. 17/15)
            </a>
            <div class="collapse" id="collapse2">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.7479476000876!2d52.40804951596682!3d55.745508280551455!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01ee3605296e9%3A0xabb530dac0fd0886!2z0KbQtdC90YLRgNCw0LvRjNC90LDRjyDQtNC10YLRgdC60LDRjyDQsdC40LHQu9C40L7RgtC10LrQsA!5e0!3m2!1sru!2sru!4v1572431366974!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse3" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотечно-информационный центр (Новый город, д. 4/08)
            </a>
            <div class="collapse" id="collapse3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.268723111957!2d52.41446581596643!3d55.736459780548984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01ef1bd88fe2d%3A0xfd3e7ca14e61f889!2z0JHQuNCx0LvQuNC-0YLQtdGH0L3Qvi3QuNC90YTQvtGA0LzQsNGG0LjQvtC90L3Ri9C5INGG0LXQvdGC0YA!5e0!3m2!1sru!2sru!4v1572431676054!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <h3 class="h3">Филиалы</h3>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse4" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотечно-информационный центр (Новый город, д. 4/08)
            </a>
            <div class="collapse" id="collapse4">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35957.0157932784!2d52.354176352848114!3d55.71830401919994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff5f427cf42b5%3A0xb9125a5ea83e9725!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAx!5e0!3m2!1sru!2sru!4v1572431818005!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse5" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 3 (ЗЯБ, д. 15/XX)
            </a>
            <div class="collapse" id="collapse5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d143873.89294719681!2d51.991328703669!3d55.70585763856221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01e1ce5e199f1%3A0xd26113fefebb4390!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAz!5e0!3m2!1sru!2sru!4v1572431957182!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse6" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 5 (Сидоровка, д. С-30 А)
            </a>
            <div class="collapse" id="collapse6">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35973.55986905964!2d52.30641905267209!3d55.70033136797397!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff432f010cc4d%3A0xcc667bdf848afd1c!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliA1!5e0!3m2!1sru!2sru!4v1572432014062!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse7" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 6 (Новый город, д. 28/11)
            </a>
            <div class="collapse" id="collapse7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.4193614355822!2d52.429989415967064!3d55.75121698055294!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01edc69e1fde5%3A0xe93c9c00144d62e9!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliA2!5e0!3m2!1sru!2sru!4v1572434158549!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse8" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 8 (ЗЯБ, д. 15/18)
            </a>
            <div class="collapse" id="collapse8">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17988.0889125075!2d52.33283353955081!3d55.69748700000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff5f1042980cb%3A0x3e4e568e6e4179e6!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliA4!5e0!3m2!1sru!2sru!4v1572434219519!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse9" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 10 (ГЭС, д. 6/9)
            </a>
            <div class="collapse" id="collapse9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4498.99384976061!2d52.29320726103742!3d55.680347873537585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff5b8a7bc3399%3A0x5db69f06d94be8dc!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxMA!5e0!3m2!1sru!2sru!4v1572434287379!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse10" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 11 (Новый город, д. 7/13)
            </a>
            <div class="collapse" id="collapse10">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8985.153907501646!2d52.394904096163565!3d55.736116538780955!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01e58e697c785%3A0x4d3f647182664900!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxMQ!5e0!3m2!1sru!2sru!4v1572434386816!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse11" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 12 (Новый город, д. 14/01)
            </a>
            <div class="collapse" id="collapse11">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8985.15405078799!2d52.39490409496007!3d55.736115916343124!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01effc0950ecd%3A0xa4b24f2b2f8e9ca5!2z0JrRgNCw0LXQstC10LTRh9C10YHQutCw0Y8g0LHQuNCx0LvQuNC-0YLQtdC60LAg4oSWIDEy!5e0!3m2!1sru!2sru!4v1572434471990!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse12" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 13 (Новый город, д. 25/21)
            </a>
            <div class="collapse" id="collapse12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17962.74553667699!2d52.40443444528618!3d55.75254025539853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01f29b072bd3f%3A0x2e041ed089387a01!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxMw!5e0!3m2!1sru!2sru!4v1572434520961!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse13" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 14 (Новый город,  д. 49/16)
            </a>
            <div class="collapse" id="collapse13">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2244.75778156264!2d52.42192191596742!3d55.762709780556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01f267ad8c0d9%3A0x8c386e5dedd1ecbb!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxNA!5e0!3m2!1sru!2sru!4v1572434601424!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse14" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 15 (Новый город, д. 45/14)
            </a>
            <div class="collapse" id="collapse14">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35935.02425596133!2d52.371973253082224!3d55.742188570832205!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01f1c257999f3%3A0xb6757e10bb4d7f14!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxNQ!5e0!3m2!1sru!2sru!4v1572434660095!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse15" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 16 (Новый город, д. 43/06)
            </a>
            <div class="collapse" id="collapse15">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.7597064584434!2d52.39398551596678!3d55.74530398055134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01efdc1d67b73%3A0x83d60beb5e2cdfb2!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxNg!5e0!3m2!1sru!2sru!4v1572434718550!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse16" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 17 (Новый город, д. 50/02)
            </a>
            <div class="collapse" id="collapse16">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8977.33272601685!2d52.41746736977539!3d55.770084999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01f2e19108f35%3A0xb35b1e6d68dab05f!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAxNw!5e0!3m2!1sru!2sru!4v1572434766770!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse17" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 22 (Новый город, д. 54/23)
            </a>
            <div class="collapse" id="collapse17">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2246.1050979534534!2d52.42811611596656!3d55.73930288054978!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01eebfc6e5045%3A0x5e88c21addd03213!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAyMg!5e0!3m2!1sru!2sru!4v1572434822663!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse18" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 23 (ЗЯБ, д. 18/38)
            </a>
            <div class="collapse" id="collapse18">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17989.776400278355!2d52.318043639550794!3d55.69381999999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x415ff5ede2ffced9%3A0x7d9c974a12ede685!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAyMw!5e0!3m2!1sru!2sru!4v1572434874151!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <p>
            <a class="card-link" data-toggle="collapse" href="#collapse19" role="button" aria-expanded="false" aria-controls="collapseExample">
                Библиотека-филиал № 24 (Новый город, д. 56/15А)
            </a>
            <div class="collapse" id="collapse19">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2247.016942337361!2d52.39231831596592!3d55.723457730545555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43e01efb1c5f0b5d%3A0x510d539a7aa74b66!2z0JHQuNCx0LvQuNC-0YLQtdC60LAt0YTQuNC70LjQsNC7IOKEliAyNA!5e0!3m2!1sru!2sru!4v1572434953599!5m2!1sru!2sru" width="1200" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
        </p>
        <br />
        <p><a href="~/Home/Index" class="alert-link">На главную</a></p>
    </div>
</body>
</html>
