@model libapp.Models.News

<html>
<head>
    <title>@ViewBag.Title - новости</title>
</head>
<body>
    <h3 class="h3 text-center">@Html.DisplayFor(n => n.Title)</h3>
    <br />
    @if (Model.Picture != null)
    {
        @Html.Raw("<img style='text-align:center;' class = 'card-img-top' src=\"data:image/jpeg;base64,"
                        + Convert.ToBase64String(Model.Picture) + "\" />")
    }
    <br />
    <br />
    <p>@Html.DisplayFor(n => n.Content)</p>
    <p><a class="btn btn-link" href="~/Home/News">Назад</a></p>
</body>
</html>
