<html>
<head>
    <title>@ViewBag.Title - услуги</title>
</head>
<body>
    <div class="text-center">
        <h3 class="h3">Электронный каталог</h3>
        <br />
        <p>
            С 2010 г. реализуется проект информационной системы «Сводный электронный библиотечный каталог Республики Татарстан».
            Его целью является создание информационной системы для обеспечения доступа граждан и сотрудников библиотек Татарстана, России и зарубежных стран к сводному электронному каталогу библиотек Республики Татарстан.
            Единой точкой доступа к ресурсам библиотек республики является портал Национальной электронной библиотеки Республики Татарстан, предоставляющий любому пользователю в кратчайшие сроки всю необходимую информацию из фондов библиотек.
            <br />
            Основные сервисы портала: <br />

            - поиск документов в сводном Электронном каталоге муниципальных библиотек Республики Татарстан; <br />
            - заказ документа в выбранной библиотеке; <br />
            - доступ к полнотекстовым Электронным коллекциям; <br />
            - справочная служба Спроси библиотекаря; <br />
            - услуги межбиблиотечного абонемента; <br />
            - информация о каждой библиотеке-участнице сводного электронного каталога Республики Татарстан; <br />
            - информация для библиотечных специалистов, вовлеченных в процессы освоения автоматизированной библиотечно-информационной системы «РУСЛАН». <br />
        </p>
        <br />
        <h3 class="h3">Виртуальная справка</h3>
        <br />
        <p>
            Здесь можно узнать: <br />
            - имеется ли  в фондах библиотеки нужная книга, журнал или другой нужный документ; <br />
            - кто автор книги; <br />
            - как называется книга какого- то автора, когда и кем она была издана; <br />
            - когда произошло то или иное историческое событие; <br />
            - когда и где родился известный писатель, художник, деятель науки, культуры, политики. <br />
            От одного абонента бесплатно одновременно принимается не более 2-х запросов.
            За более полной информацией следует обратиться в Справочно- информационный отдел Центральной городской библиотеки.
        </p>
        <br />
        <h3 class="h3">Услуги документного обслуживания</h3>
        <br />
        <p>
            Выдача во временное пользование документов из фондов специализированных залов Центральной городской библиотеки и библиотек – филиалов ЦБС. <br />
            Продление срока пользования документом, полученным из фондов библиотеки. <br />
            Заказ документов и их копий по межбиблиотечному абонементу из Национальной республиканской библиотеки РТ.
        </p>
        <br />
        <h3 class="h3">Справочно-информационнык услуги</h3>
        <br />
        <p>
            Предоставление информации о наличии книги, журнала или какого-то другого документа в библиотечных фондах ЦБС через систему каталогов и другие формы библиотечного информирования. <br />
            Консультативная помощь в поиске книги или статьи в каталогах и картотеках библиотеки. <br />
            Установление и уточнение автора, названия, года и места издания книги или статьи. <br />
            Составление списка литературы по теме диссертации, курсовой или дипломной работы. <br />
            Предоставление фактографической информации о событии, дате, каком-либо адресе; биографических сведений о писателях, художниках, деятелях науки, культуры и  политики. <br />
            Составление или редактирование списка литературы к выполненной заказчиком работе в соответствии с действующими стандартами, в том числе определение классификационного индекса по таблицам УДК И ББК.
        </p>
        <br />
        <h3 class="h3">Услуги по организации досуга и общения читателей</h3>
        <br />
        <p>
            Организация клубов, кружков, любительских объединений при библиотеке. <br />
            Проведение  вечеров, лекций, встреч, читательских конференций, экскурсий по библиотеке и т. п.
        </p>
        <br />
        <h3 class="h3">Компьютерные и копировально-множительные услуги</h3>
        <br />
        <p>
            Предоставление компьютерного времени для самостоятельной работы в электронном читальном зале. <br />
            Доступ в Интернет для поиска информации <br />
            Консультирование пользователей по поиску информации в Интернет. <br />
            Копирование текстовой, графической или звуковой информации с Интернет на магнитные носители. <br />
            Пересылка и получение разовых сообщений по электронной почте. <br />
            Компьютерный набор, форматирование или редактирование текста документа. <br />
            Распечатка текста, фотографий и рисунков на черно-белом и цветном принтере. <br />
            Сканирование печатных документов и их распознавание. <br />
            Ксерокопирование печатных документов. <br />
            Фотосъемка непрофессиональной аппаратурой документов из фонда ЦБС. <br />
        </p>
        <br />
        <h3 class="h3">Дополнительные услуги</h3>
        <br />
        <p>
            Подготовка и проведение мероприятий по заявке заказчика. <br />
            Организация вернисажей художников города
        </p>
    </div>
    <br />
    <p class="text-center text-success">
        Централизованная библиотечная система заключает договоры с учреждениями и организациями города на библиотечно - информационное обслуживание. <br />
        телефон для справок: 443-355-343 <br />
        e-mail: library.test@mail.ru
    </p>
</body>
</html>