<html>
<head>
    <title>@ViewBag.Title - читателям</title>
</head>
<body>
    <div class="text-center">
        <h4 class="h4 text-danger">График работы библиотеки</h4>
        <br />
        <p>Понедельник - суббота с 9:00 до 20:00</p>
        <p>Воскресенье - выходной</p>
        <br />
        <h4 class="h4 text-danger">Группа записи в библиотеку</h4>
        <br />
        <p class="text-success">Запись в библиотеку (главное здание)</p>
        <p>Понедельник - суббота с 9:00 до 20:00</p>
        <br />
        <h4 class="h4 text-danger">Приём заказов на издания из основного хранения</h4>
        <br />
        <p><strong>На текущий день:</strong></p>
        <p>понедельник - пятница с 9:00 до 18:15</p>
        <p>суббота с 9:00 до 17:15</p>
        <br />
        <p><strong>Предварительный заказ:</strong></p>
        <p>понедельник - суббота с 9:00 до 19:45</p>
        <br />
        <h4 class="h4 text-danger">График работы читальных залов</h4>
        <br />
        <p>Понедельник - суббота с 9:00 до 20:00</p>
        <br />
        <p class="text-success">Читальный зал в Еврейском музее</p>
        <p>Воскресенье — четверг с 12:00 до 22:00</p>
        <p>Пятница — с 10:00 до 15:00</p>
        <br />
        <p class="text-success">Читальные залы отдела диссертаций</p>
        <p>Понедельник — суббота с 9:00 до 18:00</p>
        <br />
        <p class="text-success">Читальный зал оттдела газет</p>
        <p>Понедельник — суббота с 9:00 до 18:00</p>
        <br />
        <h4 class="h4 text-danger">График работы выставочных залов</h4>
        <br />
        <p class="text-success">Музей книги</p>
        <p>Понедельник — суббота с 9:00 до 20:00</p>
        <p>Воскресенье — выходной день </p>
        <br />
        <p class="text-success">Ивановский зал</p>
        <p>Понедельник — суббота с 11:00 до 20:00</p>
        <p>Воскресенье — выходной день </p>
        <br />
        <p class="text-success">Голубой выставочный зал</p>
        <p>В соответствии с графиком работы выставок</p>
        <br />
        <h4 class="h4 text-danger">График работы отдела диссертаций</h4>
        <br />
        <p>Понедельник — пятница с 9:00 до 18:00</p>
        <br />
        <h4 class="h4 text-danger">График работы столовой и буфетов</h4>
        <br />
        <p><strong>Столовая в главном здании библиотеки</strong></p>
        <p>Понедельник — суббота: 11:30—18:00</p>
        <p>Воскресенье — выходной день</p>
        <br />
        <p><strong>Буфет в главном здании библиотеки</strong></p>
        <p>Понедельник — суббота: с 11:30 до 19:00</p>
        <p>Воскресенье — выходной день</p>
        <br />
        <p><strong>Буфет в Доме Пашкова бибилотеки</strong></p>
        <p>Понедельник — суббота: с 10:30 до 17:00</p>
        <p>Воскресенье — выходной день</p>
    </div>
</body>
</html>