@{
    ViewBag.Title = "Электронная библиотека - завершение регистрации";
}

<h3>Завершение регистрации</h3>

<p>На указанный электронный адрес отправлены дальнейшие инструкции по завершению регистрации.</p>